*.o
*.vscode
venv/
ByteTrack/
*.mp4

# darknet make file
darknet/darknet
darknet/*.so
darknet/*/*.o
*.so


# Byte-compiled / optimized / DLL files
__pycache__/
*/__pycache__/
*/*/__pycache__/
*/*/*/__pycache__/
*.py[cod]

# test file
testplotly/*

# log file
YOLOTalk-GUI/log.txt

# python file
# YOLOTalk-GUI/config.py
YOLOTalk-GUI/static/alias_pict/*
YOLOTalk-GUI/static/Json_Info/*
YOLOTalk-GUI/static/record/*

# big weights file
weights/yolov4.weights
weights/yolov7.weights
weights/yolov4.conv.137
weights/yolov7.conv.132