*.o
*.vscode

# darknet make file
darknet/darknet
darknet/*.so
*.so

# Byte-compiled / optimized / DLL files
__pycache__/
*/__pycache__/
*/*/__pycache__/
*/*/*/__pycache__/
*.py[cod]

# log file
log.txt

# python file
YOLOTalk-GUI/config.py
YOLOTalk-GUI/static/alias_pict/*jpg
YOLOTalk-GUI/static/Json_Info/*json
YOLOTalk-GUI/static/record/*jpg

# big weights file
weights/yolov4.weights
weights/yolov7.weights
weights/yolov4.conv.137
weights/yolov7.conv.132