<!-- 宣告我們要套用模板 -->
{% extends "base.html" %}

{% block title %} YOLOTalk Files{% endblock %}

{% block style %}
<style>
    /*    ______________ 照片設定  不要爆掉 ______________   */
    img {
        max-width: 100%;
    }

    /*    ______________ 按鈕設定 ______________   */
    .btn {
        background-color: #b1d3f5;
        color: rgb(116 109 109);
        font-size: 20px;
        margin-top: -3px;
        text-align: right;
    }

    /*    ______________ 大看板上的選單 ______________   */
    nav img {
        width: 200px;
    }

    header li {
        margin: 0 15px;
        font-weight: bold;
        font-size: 22px;
    }

    .dropdown-item {
        font-weight: bold;
        font-size: 18px;
    }

    /*    ______________ 大看板 ______________   */
    #intro .jumbotron {
        height: 1000vh;
        padding: 200px 500px;
    }

    /*    ______________ files ______________   */
    #files ul li {
        display: inline;
        list-style: none;
        font-size: 25px;
        align-items: center;
        height: 100px;
    }

    .col-4 {
        margin-bottom: 50px;
        align-self: center;
    }

    .col-4 #down {
        margin-left: 30px;
    }
</style>
{% endblock %}


{% block intro %}
<section id="intro">
    <div class="jumbotron">
        <div id="files">
            <ul>
                <div class="row .justify-content-center" id="pict">
                    {% for file in files %}
                    <div class="col-4">
                        <div id="up">
                            <li>
                                <img
                                    src="{{(request.path + '/' + file if '.jpg' in file else '..\\..\\..\\..\\static\\folder.png')}}"></img>
                                <!-- <img src="..\..\..\static\folder.png" height="100px"></img> -->
                            </li>
                        </div>
                        <div id="down" class="h-100 d-inline-block">
                            <li>
                                <a href="{{ (request.path + '/' if request.path != '/' else '') + file }}">
                                    {{file}}
                                </a>
                            </li>
                        </div>
                    </div>
                    <br>
                    {% endfor %}
                </div>

                <!-- <div class="row" id="filename">
                    {% for file in files %}
                    <div class="col-3 w-100 p-3">
                        <li>
                            <a href="{{ (request.path + '/' if request.path != '/' else '') + file }}">{{ file }}</a>
                        </li>
                    </div>
                    {% endfor %}
                </div> -->
            </ul>
        </div>
    </div>
</section>
{% endblock %}

{% block script %}
<script>
    $(document).ready(function () {
        //  Navigate to the drawing page
        $("a#replot_fence").click(function () {
            fence = this.text
            FormName = "Form_" + fence
            document.getElementById(FormName).submit()
        });
    });
</script>
{% endblock %}